<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starnley's Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Stanleys's Portfolio</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#invention">Invention</a></li>
                <li><a href="#african-heritage">African Heritage</a></li>
                <li><a href="#modern-society">Modern Society</a></li>
                <li><a href="#about-me">About Me</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <h2>Welcome to My Page!</h2>
        <p>Hello there, my name is Starnley Kioko. I'm thrilled to welcome you to my page! Get to know me by scrolling and a few clicks as you please 😃.</p>
        <p>As a go-getter and lifelong learner, I'm all about seizing every opportunity life throws my way and diving headfirst into new adventures.</p>
        <p>So, get ready to embark on a whirlwind tour of my passions, experiences, and achievements. Feel free to interact with my CV as you navigate through. This's a ride you won't want to miss.</p>
        <p>Welcome aboard!</p>
    </section>

    <section id="about-me">
        <h2>About Me</h2>
        <p>I thrive in communities 🤝. I'm a firm believer of the adage "if you want to go fast go alone. If you want to go far go together". While individual efforts may propel us forward momentarily, it's the collective strength of a community that sustains progress and propels us towards enduring success. Within these communities, I've witnessed firsthand the transformative impact of mentorship, guidance, and shared knowledge.</p>
        
        <h3>Communities I'm Active In:</h3>
        <ul>
            <li>MLSA Club Dekut</li>
            <li>DSAIC Club Dekut</li>
            <li>Google Developer Students Club Dekut</li>
        </ul>
        <p>I'm an active member of the following communities. Microsoft Learn Student Ambassadors. I assist in making sure fellow students know of the existing Microsoft technologies and can get access to them free of charge to smoothen their journey in tech and overall learning. At Data Science and Artificial Intelligence Club, I take part in helping fellow students navigate their way in the field of data through regular meetups of solving data challenges. At Equity Leaders Program, I take pride in cheering on and encouraging high school students to do their best in academics and to be people of value in the society. At MLSA Kenya, we advocate for inclusivity in innovation by reaching out to various people and sharing resources to help them adapt to cutting-edge technology. We are a force for good!</p>

        <h3>Sports ⛹️‍♂️</h3>
        <p>"All work and no play makes Jack a dull boy." I can't risk being Jack 😂. I take play seriously. That play comes in the form of football a sport that's more than just a game; it's a passion that ignites my spirit and fuels my drive. In the midst of busy schedules and demanding tasks, football serves as my sanctuary.</p>

        <h3>Achievements 🏆</h3>
        <ul>
            <li>Completed a Six Months rigorous Data Analytis training program in Primo Academy</li>
            <li>Partiipated in a Hackatheon Hosted By KEMRI</li>
        </ul>
        <section id="about-me">
            <p>Click the links below for more intel:</p>
            <ul class="horizontal-list">
                <li><a href="https://drive.google.com/file/d/14sldlWYQj-Gv_uUADmTKWlJajaokYeDt/view?usp=sharing">Resume (In English)</a></li>
                <li><a href="resume-kiswahili.pdf">Resume (In Kiswahili)</a></li>
                <li><a href="resume-kikamba.pdf">Resume (In Kikamba)</a></li>
                <li><a href="autobiography.pdf">Autobiography</a></li>
                <li><a href="presentation.pptx">PowerPoint Presentation</a></li>
            </ul>
        </section>

    <footer>
        <h2>Let's Connect</h2>
        <ul>
            <li><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.pinterest.com" target="_blank">Pinterest</a></li>
            <li><a href="https://www.reddit.com" target="_blank">Reddit</a></li>
            <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
        </ul>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
